.swiper {
    height: 212px;
}

.nav {
    padding: 10px 0;
}

/* 导航菜单图片宽度 */
.nav img {
    width: 48px;
}

/* 导航菜单标题 */
.nav h2 {
    margin-top: 7px;
    font-size: 13px;
    font-weight: normal;
}

/* 菜单,居中对齐 */
.nav .am-flexbox-item {
    text-align: center;
}