html,
body {
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  /* 去掉轮播图Chrome浏览器的错误警告 */
  touch-action: pan-y;
}

/* 所有的h2标签和P标签都要把margin给去掉 */
h2,
h3,
p {
  margin: 0;
}

/* 
  为了使用百度地图API显示地图所设置
  只有父元素高度为100%,子元素设置高度100%才会生效
*/
html,
body,
#root,
.App {
  height: 100%;
}