html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
}

* {
  box-sizing: border-box;
  /* 去掉轮播图Chrome浏览器的错误警告 */
  touch-action: pan-y;
}

/* 所有的h2标签都要把margin给去掉 */
h2 {
  margin: 0;
}