html,
body {
  font-family: 'Microsoft YaHei';
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  /* 去掉轮播图Chrome浏览器的错误警告 */
  touch-action: pan-y;
}

/* 指定标签的margin给去掉 */
h1,
h2,
h3,
p,
ul,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

/* 
  为了使用百度地图API显示地图所设置
  只有父元素高度为100%,子元素设置高度100%才会生效
*/
html,
body,
#root,
.App {
  height: 100%;
}

/* 解决找房页面展示遮罩层后,页面还会滚动的问题 */
.body-fixed {
  overflow: hidden;
}

/* 动态组件加载时的效果 */
.route-loading {
  padding-top: 100px;
  text-align: center;
}